<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class = "container">
        <div class="list-group">  
            <a href="#" class="list-group-item list-group-item-action bg-light text-dark disabled">瀏覽公佈事項</a>
              <h6 class="text-danger">{{str}}</h6>
              <div class="row">
                <div class="col-6" > 標題</div>
                <div class="col-2"id ="col-text">發佈日期</div>
                <div class="col-2" id ="col-text">截止日期</div>
                <div class="col" id ="col-text"> 修改 </div>
                <div class="col" id ="col-text">刪除 </div>  
              </div>
              <div *ngFor="let list of lists">
                <div class = "row">
                <div class="col-1">{{list.title}} </div>
                <div class="col-5">{{list.detail}}</div>
                <div class="col-2" id ="col-text"> {{list.release_date}}</div>
                <div class="col-2" id ="col-text">{{list.deadline_date}} </div>
                <div class="col" id ="col-text"><button type="button" class="btn-notice btn-secondary" (click)="revise(list.id)" >修改</button> </div>
                <div class="col" id ="col-text"><button type="button" class="btn-notice btn-secondary" (click)="dele(list)">刪除</button> </div>
              </div>
              </div>
              <div class = "button-row"> 
                <button type="button" class="btn btn-secondary" (click) = "add()">新增</button>
                <button type="button" class="btn btn-secondary">刪除</button>
              </div> 
        </div>
    </div>
</body>
</html>