<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class = "container">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action bg-light text-dark disabled">新增公佈事項</a>
            <div class="row">
                <div class ="col-sm-1"><p class ="p-color">標題：</p></div>
                <div class = "col"><input class ="intput-text" [(ngModel)] = "title" placeholder = {{lists.title}}/></div>
            </div>
            <div class="row">
                <div class ="col-sm-1"><p class ="p-color">發布日期：</p></div>
                <div class = "col"><input type="text" class ="intput-text" [(ngModel)] = "release_date" placeholder = {{lists.release_date}}/></div>
                
            </div>
            <div class="row">
                <div class ="col-sm-1"><p class ="p-color">截止日期：</p></div>
                <div class = "col"><input class ="intput-text" [(ngModel)] = "deadline_date" placeholder = {{lists.deadline_date}}></div>
            </div>
            <div class="row">
                <div class ="col-1"><p class ="p-color">公告者：</p></div>
                <div class = "col">Admin</div>
            </div> 
            <div class="row">
                <div class ="col-1"><p class ="p-color">公佈內容：</p></div>
                <div class = "col">
                    <textarea name="message" id="message" rows="5" cols="80" [(ngModel)] = "detail" placeholder = {{lists.detail}}></textarea> 
                </div> 
            </div>
            <button type="button" class="btn btn-secondary" (click)="revise()">修改</button>
        </div>
    </div>  

</body>
</html>
